
blockquote {
  color: #333333;
}

.form-submit {
}

table th {
  color: #7b7b8b;
}

table td {
  color: #333333;
}

table {
  border-color: #7b7b8b;
}

.site-slogan {
  color: #ffffff;
}

.sidebar h2 {
  color: #333333;
}

body {
  background-color: #7b7b8b;
}

.stack-copyright {
  color: #333333;
}

.wrapper-content {
}

.wrapper-footer {
}

.stack-header-inner {
}

.stack-header-inner .inset-1 {
  background-color: #7b7b8b;
  border-color: #333333;
}

.stack-content-inner .inset-1 {
  background-color: #ffffff;
}

.stack-content-inner .col-c {
}

.stack-content-inner .sidebar {
}

.wrapper-footer .inset-1 {
  background-color: #ffffff;
}

.menu-dropdown .menu .menu {
  background-color: #333333;
}

.menu-dropdown .menu .menu .last > a {
  border-bottom-color: #7b7b8b;
}

.stack-navigation .inset-2 {
  background-color: #333333;
}

.stack-navigation .inset-3 {
  background-color: #333333;
}

.stack-navigation .inset-4 {
  border-color: #7b7b8b;
}

.stack-navigation .menu li a {
}

.col.last h2 {
  background-color: transparent;
}

.col:first-child h2 {
  background-color: transparent;
}

.sidebar:first-child h2 {
  background-color: transparent;
}

.stack-breadcrumb {
  color: #666666;
}

.messages a {
  color: #333333;
}

#block-feedback-feedback a {
  background-color: #333333;
  color: #ffffff;
}

.rb-slides {
}

.stack-precontent .block h2 {
  background-color: transparent;
}

.messages ul {
  color: #000000;
}

.controls.buttons a {
  background-color: #7b7b8b;
}

.controls.buttons a.activeSlide {
  background-color: #333333;
}

#block-feedback-feedback a:hover {
  background-color: #666666;
}

.site-name a {
  color: #1d1d2a;
}

a {
  color: #333333;
}

h1 {
  color: #333333;
}

h1 a {
  color: #333333;
}

h2 a {
  color: #333333;
}

.wrapper-content .forum a {
  color: #333333;
}

table a {
  color: #333333;
}

table th a {
  color: #333333;
}

.forum a {
  color: #333333;
}

.page {
  color: #333333;
}

a:hover {
  color: #666666;
}

.forum .created {
  color: #7b7b8b;
}

.forum .last-reply {
  color: #7b7b8b;
}

.forum .description {
  color: #7b7b8b;
}

.page-forum .title {
  color: #7b7b8b;
}

.menu-dropdown .menu .expanded:hover > a {
  color: #ffffff;
}

.menu-dropdown .menu .active-trail > a {
  color: #ffffff;
}

.menu-dropdown .menu .active-trail:hover > a {
  color: #ffffff;
}

.menu-dropdown .menu .menu li:hover > a {
  color: #ffffff;
}

.menu-dropdown .menu .menu a.active {
}

.menu-dropdown .menu .menu li:hover > a.active {
  color: #ffffff;
}

.menu-dropdown .menu .menu .active-trail > a {
}

.menu-dropdown .menu .menu .active-trail:hover > a {
  color: #ffffff;
}

td {
  border-color: #7b7b8b;
}

h2 {
  border-color: #707969;
}

h3 {
  border-color: #707969;
}

h4 {
  border-color: #707969;
}

h5 {
  border-color: #707969;
}

.comment-wrapper .comment + .comment {
  border-color: #707969;
}

.wrapper-footer .col h2 {
}

th {
}

.form-submit + input {
}

.wrapper-footer .col:first-child h2 {
  background-color: transparent;
}

.forum .replies a {
}

.rotating-banner {
}

.stack-navigation .menu li a:hover {
  color: #ffffff;
}

.stack-preheader a {
}

.node .meta {
}

.messages {
  color: #000000;
}

.messages ul li {
  color: #000000;
}

#banner-region {
}


